In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv("/home/prasun/GitDemo/Time_Trekking/Dataset/book_sales.csv")
df.head()

         Date  Paperback  Hardcover
0  2000-04-01        199        139
1  2000-04-02        172        128
2  2000-04-03        111        172
3  2000-04-04        209        139
4  2000-04-05        161        191